<div>
    <h2>Privileges</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="privilege.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Privilege
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="key"><span>Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="role"><span>Role</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="privilege in vm.privileges track by privilege.id">
                    <td><a ui-sref="privilege-detail({id:privilege.id})">{{privilege.id}}</a></td>
                    <td>{{privilege.key}}</td>
                    <td>{{privilege.role}}</td>
                    <td>{{privilege.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="privilege-detail({id:privilege.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="privilege.edit({id:privilege.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="privilege.delete({id:privilege.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
