<div>
    <h2>Flows</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="flow.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Flow
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="input"><span>Input</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="variables"><span>Variables</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="message"><span>Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="translator"><span>Translator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="output"><span>Output</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enabled"><span>Enabled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flow in vm.flows track by flow.id">
                    <td><a ui-sref="flow-detail({id:flow.id})">{{flow.id}}</a></td>
                    <td>{{flow.name}}</td>
                    <td>{{flow.input}}</td>
                    <td>
                        <div ng-repeat="(key, value) in flow.variables">
                            <span class="badge">{{key}}</span> {{value}}
                        </div>
                    </td>
                    <td>{{flow.message}}</td>
                    <td>{{flow.translator}}</td>
                    <td>{{flow.output}}</td>
                    <td>
                        <span class="label" ng-class="flow.enabled | boolTo:'label-success':'label-danger'">
                            {{flow.enabled | boolTo:'YES':'NO'}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="flow-detail({id:flow.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flow.edit({id:flow.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flow.delete({id:flow.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
