<form name="actionForm" ng-submit="vm.confirmAction(vm.bot.id, vm.action)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Confirm <strong>{{vm.action}}</strong> operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to perform this action?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>No</span>
        </button>
        <button type="submit" ng-disabled="actionForm.$invalid" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>Yes</span>
        </button>
    </div>
</form>
