<div>
    <h2>Bots</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bot.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Bot
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span>Status</span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="autoLogin"><span>Auto Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="daemon"><span>Daemon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxMissedPings"><span>Max Missed Pings</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxReconnectAttempts"><span>Max Reconnect Attempts</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shardCount"><span>Shard Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="primary"><span>Primary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tags"><span>Tags</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bot in vm.bots track by bot.id">
                    <td>
                        <span class="label" ng-class="vm.statusClass(bot)">
                            {{vm.statusText(bot)}}
                        </span>
                    </td>
                    <td><a ui-sref="bot-detail({id:bot.id})">{{bot.name}}</a></td>
                    <td>
                        <span class="label" ng-class="bot.autoLogin | boolTo:'label-success':'label-danger'">
                            {{bot.autoLogin | boolTo:'YES':'NO'}}
                        </span>
                    </td>
                    <td>
                        <span class="label" ng-class="bot.daemon | boolTo:'label-success':'label-danger'">
                            {{bot.daemon | boolTo:'YES':'NO'}}
                        </span>
                    </td>
                    <td>{{bot.maxMissedPings}}</td>
                    <td>{{bot.maxReconnectAttempts}}</td>
                    <td>{{bot.shardCount}}</td>
                    <td>
                        <span class="label" ng-class="bot.primary | boolTo:'label-success':'label-danger'">
                            {{bot.primary | boolTo:'YES':'NO'}}
                        </span>
                    </td>
                    <td>{{bot.tags}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bot-detail({id:bot.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bot.edit({id:bot.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bot.delete({id:bot.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bot.action({id:bot.id, action:'login'})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="hidden-xs hidden-sm"></span>
                                Login
                            </button>
                            <button type="submit"
                                    ui-sref="bot.action({id:bot.id, action:'logout'})"
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-log-out"></span>
                                <span class="hidden-xs hidden-sm"></span>
                                Logout
                            </button>
                            <button type="submit"
                                    ui-sref="bot.action({id:bot.id, action:'reset'})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-repeat"></span>
                                <span class="hidden-xs hidden-sm"></span>
                                Reset
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
