
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTimeFrameLabel">Create or edit a Time Frame</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.timeFrame.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.timeFrame.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subscriber">Subscriber</label>
            <input type="text" class="form-control" name="subscriber" id="field_subscriber"
                    ng-model="vm.timeFrame.subscriber"
                    required />
            <div ng-show="editForm.subscriber.$invalid">
                <p class="help-block"
                    ng-show="editForm.subscriber.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_start">Start</label>
                <div class="input-group">
                    <input id="field_start" type="text" class="form-control" name="start" datetime-picker="{{dateformat}}" ng-model="vm.timeFrame.start" is-open="vm.datePickerOpenStatus.start"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('start')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.start.$invalid">
                <p class="help-block"
                    ng-show="editForm.start.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.start.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_end">End</label>
                <div class="input-group">
                    <input id="field_end" type="text" class="form-control" name="end" datetime-picker="{{dateformat}}" ng-model="vm.timeFrame.end" is-open="vm.datePickerOpenStatus.end"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('end')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.end.$invalid">
                <p class="help-block"
                    ng-show="editForm.end.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.end.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_inclusive">Inclusive</label>
            <input type="checkbox" class="form-control" name="inclusive" id="field_inclusive"
                    ng-model="vm.timeFrame.inclusive"
                     />
            <div ng-show="editForm.inclusive.$invalid">
                <p class="help-block"
                    ng-show="editForm.inclusive.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_recurrenceValue">Recurrence Value</label>
            <input type="text" class="form-control" name="recurrenceValue" id="field_recurrenceValue"
                    ng-model="vm.timeFrame.recurrenceValue"
                    required />
            <div ng-show="editForm.recurrenceValue.$invalid">
                <p class="help-block"
                    ng-show="editForm.recurrenceValue.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
