<nav class="navbar navbar-inverse no-border" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo logo-anim" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo.png"/>
                <span><strong style="font-size: 20px">Sentry</strong></span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_SUPPORT"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="bot" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-rocket"></span>&nbsp;
                                <span>Bots</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="game-server" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-steam-square"></span>&nbsp;
                                <span>GameServers</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="streamer" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-twitch"></span>&nbsp;
                                <span>Streamers</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="setting" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-cogs"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="active">
                            <a ui-sref="privilege" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-key"></span>&nbsp;
                                <span>Privileges</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="permission" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-check-square"></span>&nbsp;
                                <span>Permissions</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="active">
                            <a ui-sref="task" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-history"></span>&nbsp;
                                <span>Scheduled Tasks</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="flow" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-exchange"></span>&nbsp;
                                <span>Integration Flows</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="subscriber" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-bell"></span>&nbsp;
                                <span>Subscribers</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="time-frame" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-calendar-check-o"></span>&nbsp;
                                <span>Subscriber TimeFrames</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="active">
                            <a ui-sref="player-count" ng-click="vm.collapseNavbar()">
                                <span class="fa fa-line-chart"></span>&nbsp;
                                <span >Player Counts</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="user-count" ng-click="vm.collapseNavbar()">
                                <span class="icon-discord"></span>&nbsp;
                                <span >User Counts</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer"
                    ng-switch-when="true">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <img ng-src="{{vm.discord.avatar}}" class="profile-image img-circle">
                            <span class="hidden-sm">
                                {{vm.discord.username}}
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span>User tracker</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
